<section class="section-gap">    
    <div class="container">
        <div class="row">
            
            <div class="col-md-3">
            <h5 class="footer-title"> Contact us</h5>    
   
                <p><span class="lnr lnr-map-marker foot-icon"></span> Office Address, kolkata </p>
                    <p><span class="lnr lnr-phone-handset foot-icon"></span> +91 90007 097330 98312 61934 </p>
                    <p><span class="lnr lnr-envelope foot-icon"></span> info@company.com </p>
                
               <ul class="list-inline">
                <li  class="list-inline-item">Follow us: </li><li  class="list-inline-item"><i class="fab fa-facebook-f social" ></i></li>
                </ul>
                
            </div> 
            
            <div class="col-md-2">
            <h5 class="footer-title"> Contact us</h5>  
                
                <ul class="list-unstyled footer-list">
                <li><a href="javascript:void(0)">Home</a></li>
                  <li><a href="javascript:void(0)">About us</a></li>
                  <li><a href="javascript:void(0)">Gallery</a></li>
                  <li><a href="javascript:void(0)">Shop</a></li>
                  <li><a href="javascript:void(0)">Blog</a></li>

                </ul>
            </div>  
            
            <div class="col-md-3">
            <h5 class="footer-title"> Contact us</h5>   
               <ul class="list-unstyled footer-list"> 
                <li><a href="javascript:void(0)">Web Design</a></li>
                  <li><a href="javascript:void(0)">Marketing</a></li>
                  <li><a href="javascript:void(0)">Programming</a></li>
                  <li><a href="javascript:void(0)">Inspired by clouds</a></li>
                 <li><a href="javascript:void(0)">Whitepaper</a></li>
                </ul>
            </div>  
            
            <div class="col-md-3">
            <h5 class="footer-title">Newsletter</h5> 
                <p>To get the latest news and latest updates from us.</p>
                <form > 
                   <div class="form-group">
                <label class="light-black">Your e-mail address</label>
                    <input type="email" class="form-control pad-10" placeholder="Enter e-mail Id" /> 
                    <button type="button" value="submit" class="btn btn-primary btn-block mt-2 pad-10">Subscribe</button>
                       </div> 
                </form>
            </div>  
            
            
            <div class="col-md-12 text-center">
            <div class="pt-3 pb-3">
            <img src="assets/images/logo.png"  />
            <p>Copyright @ 2020 Company Name by company name | All rights reserved</p>
            </div>
            </div>
            
        </div>
                     </div>
    </section>

    