<section class="section-gap">    
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="counter text-center"  data-aos="zoom-in">
                <span class="lnr lnr-cog gradient-text"></span>
                    <h2>500</h2>
                    <p>Our Customer</p>
                </div>
            </div>
            
            <div class="col-sm-3">
                <div class="counter text-center"  data-aos="zoom-in">
               <span class="lnr lnr-database gradient-text"></span>
                    <h2>500</h2>
                    <p>Our Customer</p>
                </div>
            </div>
            
            <div class="col-sm-3">
                <div class="counter text-center"  data-aos="zoom-in">
               <span class="lnr lnr-home gradient-text"></span>
                    <h2>500</h2>
                    <p>Our Customer</p>
                </div>
            </div>
            
            <div class="col-sm-3">
                <div class="counter text-center"  data-aos="zoom-in">
               <span class="lnr lnr-leaf gradient-text"></span>
                    <h2>500</h2>
                    <p>Our Customer</p>
                </div>
            </div>
            
        </div>
               </div>
    </section>
