<section class="section-gap">
      
    <div class="container about-sec text-center">
        
   <h5 class="text-center" data-aos="zoom-in">We’re creative team</h5>
        <h2 class="sm-width text-center"  data-aos="zoom-in" >Are yo u looking to create an eye-catching,cutting edge website & mobile apps for yourbusiness, We are the best.</h2>
        
        <a href="#" class=" "  data-aos="slide-down" >View details ></a>
        
        
        <div class="row">
        <div class="col-md-12">
            
           
            <div class="owl-carousel service owl-theme" >

               <div class="item active" data-aos="fade-left"  >
                   <div class="card-custom">    
                   <div class="icon"><i class="icon-presentation gradient-text white-text" ></i></div>
                   <h2>Business solutions 1</h2>
                       <p>Lorem Ipsum is simply dummy of the printing & typesetting industry. Lorem Ipsum has the industry's text</p>
                   </div>
                </div>
                
                
               <div class="item " data-aos="fade-down"  >
                   <div class="card-custom-odd">
                     <div class="icon"><i class="icon-presentation gradient-text white-text"></i></div>
                   <h2>Business solutions 2</h2>
                       <p>Lorem Ipsum is simply dummy of the printing & typesetting industry. Lorem Ipsum has the industry's text</p>
                   </div>
                </div>
                
                
               <div class="item " data-aos="fade-right" >
                   <div class="card-custom">
                    <div class="icon"><i class="icon-presentation gradient-text white-text"></i></div>
                   <h2>Business solutions 3</h2>
                       <p>Lorem Ipsum is simply dummy of the printing & typesetting industry. Lorem Ipsum has the industry's text</p>
                   </div>
                </div>
                
                
               <!-- item 2 --> 
                
                
                

                
                 <div class="item "  >
                   <div class="card-custom">
                    <div class="icon"><i class="icon-presentation gradient-text white-text"></i></div>
                   <h2>Business solutions 4</h2>
                       <p>Lorem Ipsum is simply dummy of the printing & typesetting industry. Lorem Ipsum has the industry's text</p>
                   </div>
                </div>
                <div class="item " data-aos="fade-right" >
                    <div class="card-custom-odd">
                    <div class="icon"><i class="icon-presentation gradient-text white-text"></i></div>
                   <h2>Business solutions 5</h2>
                       <p>Lorem Ipsum is simply dummy of the printing & typesetting industry. Lorem Ipsum has the industry's text</p>
                   </div>
                </div>
                 <div class="item">
                   <div class="card-custom">
                     <div class="icon"><i class="icon-presentation gradient-text white-text"></i></div>
                   <h2>Business solutions 6</h2>
                       <p>Lorem Ipsum is simply dummy of the printing & typesetting industry. Lorem Ipsum has the industry's text</p>
                   </div>
                </div>
                
                     <!-- item 3 --> 
                
                <div class="item " data-aos="fade-right" >
                    <div class="card-custom">
                    <div class="icon"><i class="icon-presentation gradient-text white-text"></i></div>
                   <h2>Business solutions 7</h2>
                       <p>Lorem Ipsum is simply dummy of the printing & typesetting industry. Lorem Ipsum has the industry's text</p>
                   </div>
                </div>
                 <div class="item "  data-appear-top-offset='-300' data-scrool data-scroll-repeat="true"  >
                   <div class="card-custom-odd">
                   <div class="icon"><i class="icon-presentation gradient-text white-text"></i></div>
                   <h2>Business solutions 8</h2>
                       <p>Lorem Ipsum is simply dummy of the printing & typesetting industry. Lorem Ipsum has the industry's text</p>
                   </div>
                </div>
                  <div class="item " data-aos="fade-right" >
                      <div class="card-custom">
                  <div class="icon"><i class="icon-presentation gradient-text white-text"></i></div>
                   <h2>Business solutions 9</h2>
                       <p>Lorem Ipsum is simply dummy of the printing & typesetting industry. Lorem Ipsum has the industry's text</p>
                   </div>
                </div>

</div>

            </div>
        </div>

        
        </div>
    

    </section>
