<div class="container-fluid">
       
           
    <!--- owl carousel start --->
    <!--<div class="owl-carousel main owl-theme">
          <div class="item">
              <div class="item-flex">
                  <div><h6>First slide label</h6>
                      <h2>Nulla vitae elit libero, a pharetra augue mollis interdum.</h2>
                  <a href="#">To know more</a>
                  </div>
                   <div> <img src="assets/images/slider-img-1.png" class="assets/images-fluid" alt="..."></div>
        </div>
        </div>
          <div class="item">
              <div class="item-flex">
                  <div><h6>First slide label</h6>
                      <h2>Nulla vitae elit libero, a pharetra augue mollis interdum.</h2>
                  <a href="#">To know more</a>
                  </div>
                   <div> <img src="assets/images/slider-img-1.png" class="assets/images-fluid" alt="..."></div>
        </div>
        </div>
          <div class="item">
              <div class="item-flex">
                  <div><h6>First slide label</h6>
                      <h2>Nulla vitae elit libero, a pharetra augue mollis interdum.</h2>
                  <a href="#">To know more</a>
                  </div>
                   <div> <img src="assets/images/slider-img-1.png" class="assets/images-fluid" alt="..."></div>
        </div>
        </div>      
        </div>
    
    
<!-- owlcarousel end -->


    
    
    <div id="carouselExampleCaptions" class="carousel  slide carousel-fade" data-ride="carousel">
<ol class="carousel-indicators">
<li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
<li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
<li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
</ol>
<div class="carousel-inner container">
<div class="carousel-item active">
 <div class="row">         
<div class="col-md-6 offset-md-1"><div class="cap-taxt">
 <h5>First slide label 2</h5>
 <p>Nulla vitae elit libero pharetra augue </p>
   <a href="#">to Know More</a>
</div>
   </div>
<div class="col-md-5"><img src="assets/images/slider-img-1.png" class="" alt="..."></div>

</div>
</div>
<div class="carousel-item">
<div class="row">         
<div class="col-md-6 offset-md-1"><div class="cap-taxt">
 <h5>Second slide label</h5>
 <p>Nulla vitae elit libero pharetra augue </p>
   <a href="#">to Know More</a>
</div>
   </div>
<div class="col-md-5"><img src="assets/images/slider-img-2.png" class="" alt="..."></div>

</div>
</div>
<div class="carousel-item">
<div class="row">         
<div class="col-md-6 offset-md-1"><div class="cap-taxt">
<h5>Third slide label</h5>
 <p>Nulla vitae elit libero pharetra augue </p>
   <a href="#">to Know More</a>
</div></div>
<div class="col-md-5"><img src="assets/images/slider-img-3.png" class="" alt="..."></div>
</div>

</div>
</div>
<a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
<span class="carousel-control-prev-icon" aria-hidden="true"></span>
<span class="sr-only">Previous</span>
</a>
<a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
<span class="carousel-control-next-icon" aria-hidden="true"></span>
<span class="sr-only">Next</span>
</a>
</div>
    

</div>
