<section class="section-gap testimonial-bg">    
    <div class="container">
        <div class="row">
                 <div class="col-sm-12 text-center">
                     <h5 data-aos="slide-up">Clients feedback</h5>
                     <h2 data-aos="slide-up">What Our People Says</h2>
            </div>
            <div class="col-sm-12 text-center">
                <div class="owl-carousel testimonial owl-theme">
              <div class="item text-center animated zoomIn" data-aos="slide-up">
                  <div class="testimonial_con">
                  <img src="assets/images/12.jpg" data-aos="zoom-in" >
                 <p data-aos="slide-up">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation cillum dolore eu fugiat nulla pariatur. </p>  
                      <h5 data-aos="slide-up">Jhon Macmillan </h5>
                      <h4 data-aos="slide-up">Executive Director</h4>                     
                    </div>
                    </div>
             <div class="item text-center" >
                  <div class="testimonial_con">
                  <img src="assets/images/123.jpg" >
                 <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation cillum dolore eu fugiat nulla pariatur. </p>  
                      <h5>Jhon Macmillan </h5>
                      <h4>Executive Director</h4>   
                    </div>
                    </div>
              <div class="item text-center" data-aos="zoom-in">
                  <div class="testimonial_con">
                  <img src="assets/images/14.jpg" >
                 <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation cillum dolore eu fugiat nulla pariatur. </p>  
                      <h5>Jhon Macmillan </h5>
                      <h4>Executive Director</h4>                     
                    </div>
                    </div>

</div>
                
            </div>
            
            
        </div>
                   </div>
    </section>
