<section class="section-gap">    
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
            <h5>Our team members</h5> 
             <h2>Our team members</h2>
            </div>
            
         
              <div class="col-sm-8">
                  <div class="row">
                   <div class="col-sm-12">
                      <div  class="team"> 
                         <div class="team-con" data-aos="slide-up"> 
                           <h4><i class="lnr lnr-clock"></i> 16 July 2019</h4>
                          <p>Search engine optimization</p>
                          </div>
                          <img src="assets/images/team1.jpg"/> </div>
                    </div>
                  </div>
              </div>
              <div class="col-sm-4">
                  <div class="row">
             <div class="col-sm-12">
                 <div  class="team"> 
                        <div class="team-con"  data-aos="slide-up"> 
                           <h4><i class="lnr lnr-clock"></i> 16 July 2019</h4>
                          <p>Search engine optimization</p>
                          </div>
                     <img src="assets/images/team1.jpg"  /> 
                 </div>
                    </div>
             <div class="col-sm-12">
                 <div  class="team">
                        <div class="team-con"  data-aos="slide-up"> 
                           <h4><i class="lnr lnr-clock"></i> 16 July 2019</h4>
                          <p>Search engine optimization 3</p>
                          </div>
                     <img src="assets/images/team1.jpg" /> 
                 </div>
                    </div>
                      </div>
              </div>
     
        </div>
          </div>
    </section>
